<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<!-- FULLWIDTH NAV -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="app.home">
				<img class="logo logo-dml" src="img/dml_logo_clear.png">
			</a>
		</div>


		<!-- COLLAPSED NAV -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<!-- LEFT ITEMS -->
			<ul class="nav navbar-nav" id="navbar-button-group">
				<li ng-repeat="item in items" ui-sref-active="active">
					<a ui-sref="app.projects({project: item})">{{ item | uppercase}}</a>
				</li>
			</ul>

			<!-- RIGHT ITEMS -->
			<ul class="nav navbar-nav navbar-right">
				<li>
					<img alt="McMaster University" class="logo logo-mcmaster" src="img/mcmaster_logo_white.gif">
				</li>
			</ul>
		</div>


	</div>
</nav>